advisee.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="advisee">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="studentId" type="xs:integer"/>
      <xs:element name="lecturerId" type="xs:integer"/>

    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>